<div class="row">
    <ul class="pricing-table large-6 columns">
        <li>
            <img class="center" src="images/weather-big/cloud.png" alt="current">
        </li>
    </ul>

    <ul class="pricing-table large-6 columns">
        <li class="title">Current location:xxx</li>
        <li class="price">cloudcover:xxx</li>
        <li class="description">humidity: xxxx</li>
        <li class="bullet-item">temp: xxxx</li>
        <li class="bullet-item">pressure: xxxx</li>
        <li class="bullet-item">visibility: xxxx</li>
        <li class="cta-button"><a class="button" href="#">Check all data</a></li>
    </ul>
    <!-- <ul class="pricing-table columns large-6">
        <li class="title">Current location:xxx</li>
        <li class="price">cloudcover:xxx</li>
        <li class="description">humidity: xxxx</li>
        <li class="bullet-item">temp: xxxx</li>
        <li class="bullet-item">pressure: xxxx</li>
        <li class="bullet-item">visibility: xxxx</li>
        <li class="cta-button"><a class="button" href="#">Check all data</a></li>
    </ul> -->
</div>